<div class="min-h-screen bg-gray-50 p-4">
    <mat-card class="max-w-6xl mx-auto p-6 shadow">
      <h2 class="text-2xl font-bold mb-4">{{ file?.name }}</h2>
  
      <div class="grid md:grid-cols-3 gap-6">
        <div class="md:col-span-2">
          <iframe [src]="file?.url | safeUrl" class="w-full h-[600px] border rounded"></iframe>
        </div>
  
        <div>
          <h3 class="text-lg font-semibold mb-2">Comments</h3>
          <div class="bg-white p-2 rounded shadow max-h-[500px] overflow-y-auto space-y-3">
            <div *ngFor="let c of comments">
              <div class="text-sm font-semibold">{{ c.author }}</div>
              <div class="text-sm">{{ c.text }}</div>
              <div class="text-xs text-gray-400">{{ c.createdAt?.toDate()  }}</div>
            </div>
          </div>
  
          <form (ngSubmit)="addComment()" class="mt-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Add a comment</mat-label>
              <textarea matInput [(ngModel)]="newComment" name="comment" required></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Post</button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
  